.btn
    border-radius: 15px
    color: $color-white
    background-color: $color-second-black
    padding: 16px 67px
    font-size: 17px
    box-shadow: $main-shadow
    white-space: nowrap
    text-decoration: none
    font-family: $main-font
   
