.cards
    width: 100%
    display: grid
    grid-template-columns: repeat(3, 1fr)
    gap: 30px
    @include respond(tab-port)
        grid-template-columns: repeat(2, 1fr)
    @include respond(phone)
        grid-template-columns: repeat(1, 1fr)
        gap: 10px
        justify-items: center

